<mat-toolbar>
  <span>
      <a routerLink="/" routerLinkActive="active">
        <img width="50" alt="Angular Logo" src="assets/img/robot.png">
      </a>
  </span>

  <nav>
    <a routerLink="/games" routerLinkActive="active">Juegos</a>
    <a routerLink="/rankings">Rankings</a>
    <a routerLink="/statistics">Mis Resultados</a>
  </nav>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>account_circle</mat-icon>
        <span>My Account</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
